<section id="portfolio">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-color-red">
            <i class="fas fa-book"></i>
            Portfolio
        </h2>
        <p class="mb-0">Mes réalisations</p>
    </div>

    <div class="container py-5">

        <div class="row d-flex justify-content-center py-4">

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Taverne du JV -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" class="card-img" alt="Taverne du JV">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalTaverneJv">
                            <i class="fas fa-search"></i>
                            Détails
                        </a>
                    </div>
                </div>
                <p class="mt-2 text-center">Taverne du JV</p>
            </div>
            <!-- Taverne du JV -->

            <!-- Modal Taverne du JV -->
            <div class="modal fade" id="modalTaverneJv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header background-color-red">
                            <h5 class="modal-title text-white" id="exampleModalLabel">
                                <i class="fas fa-book-open"></i>
                                La Taverne du JV
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <img src="{{ asset('img/portfolio/taverne_du_jv.png') }}" alt="Taverne du JV" class="img-fluid">

                            <hr>

                            <p>Développement d'un site d'actualité sur les jeux vidéo avec une partie blog, des forums et une administration.</p>

                            <p>Technologie utilisée :
                                <span class="badge background-color-red text-white">Symfony 4</span>,
                                <span class="badge badge-dark">PHP/MySQL</span>,
                                <span class="badge badge-dark">Bootstrap</span>,
                                <span class="badge badge-dark">HTML</span>,
                                <span class="badge badge-dark">CSS</span>.
                            </p>

                            <p class="small text-muted mb-0">Projet réalisé lors de ma formation.</p>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="btn-group btn-group-sm " role="group" aria-label="Basic example">
                                <a href="http://taverne-du-jv.herokuapp.com/" class="btn btn-secondary d-flex align-items-center justify-content-center" target="_blank">
                                    <i class="fas fa-search"></i>
                                    <p class="mb-0 ml-2">Voir le site</p>
                                </a>
                                <a href="https://github.com/DamienRiviere/Taverne-du-JV" class="btn btn-secondary d-flex align-items-center justify-content-center" target="_blank">
                                    <i class="fab fa-github-square"></i>
                                    <p class="mb-0 ml-2">Github</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Taverne du JV -->
        </div>

    </div>
</section>